body {

}

.centered{
	text-align:center;
}

.date {
  font-size: 11px;
  color: #aaa;
}

.author {
  color: #aaa;
}

.title {
  padding: 5px 0 15px 0;
  display: block;
  font-size: 24px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.main-head {
  text-align: center;
  padding: 20px;
}

.btn {
  outline: none !important;
}

.center {
  text-align: center;
}

.tags {
  margin-top: 10px;
}

a.tag {
  margin: 0 10px 0 0;
}


.fuelux .datagrid thead {
  background-color: #f9f9f9;
}

.fuelux .datagrid thead .datagrid-header-title {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
}

.fuelux .datagrid thead .datagrid-header-left {
  float: left;
}

.fuelux .datagrid thead .datagrid-header-right {
  float: right;
}

.fuelux .datagrid thead .sorted {
  color: #333333;
  text-shadow: 'none';
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bebebe;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.fuelux .datagrid thead .sorted i {
  float: right;
  margin-top: 2px;
}

.fuelux .datagrid thead .sortable {
  cursor: pointer;
}

.fuelux .datagrid thead .sortable:hover {
  color: #333333;
  text-shadow: 'none';
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
  background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bebebe;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.fuelux .datagrid tfoot {
  background-color: #f9f9f9;
}

.fuelux .datagrid tfoot .datagrid-footer-left {
  float: left;
}

.fuelux .datagrid tfoot .datagrid-footer-left .grid-controls {
  margin-top: 7px;
}

.fuelux .datagrid tfoot .datagrid-footer-left .grid-controls select {
  width: 60px;
  margin: 0 5px 1px;
}

.fuelux .datagrid tfoot .datagrid-footer-left .grid-controls span {
  font-weight: normal;
}

.fuelux .datagrid tfoot .datagrid-footer-right {
  float: right;
}

.fuelux .datagrid tfoot .datagrid-footer-right .grid-pager > span {
  position: relative;
  top: 8px;
  font-weight: normal;
}

.fuelux .datagrid tfoot .datagrid-footer-right .grid-pager .dropdown-menu {
  min-width: 50px;
}

.fuelux .datagrid tfoot .datagrid-footer-right .grid-pager .combobox {
  position: relative;
  top: -2px;
  display: inline-block;
}

.fuelux .datagrid tfoot .datagrid-footer-right .grid-pager > button {
  position: relative;
  top: 7px;
}


/*form.signup { display: none; }*/
