
extends ../layouts/default

block main
  h1= title

block content
  .row.well.span7
    .span6
      .row-fluid
        .span3
          img(src="/img/cash_lock.png")
        .span9
          h2 Prêt à compter les pepettes ?
    .span6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type

      block auth