extends ../layouts/default

block content
  div.container
    div.row
      div.span3
        include ../accounts/navbar
      div.span9
        h2
          strong #{req.account.name}
          | : #{lingua.accountGraphs}