extends ../layouts/default

block content
  div.container
    div.row
     div.span3
       div.well.sidebar-nav
         ul.nav.nav-list
           li.nav-header List header
           li
             a(href='#compte1', data-toggle='collapse')
               i.icon-folder-open
               span View Database
           #compte1.collapse
             li
               a(href='#ope-compte1')
                 i.icon-folder-open
                 span View Database
             li
               a(href='#ope-compte1')
                 i.icon-folder-open
                 span View Database
           li
             a(href='db/admin')
               i.icon-folder-open
               span View Database
           li
             a(href='#add-compte')
               i.icon-folder-open
               span Ajouter compte
     div.span9
       block second-content
         h2 Account Resume